<div class="layout layout--row layout--stretch">
  <div class="flex flex--row flex--stretch gap--large">

    {% render "content", trmnl: trmnl, has_single_book: has_single_book, books: books, book: book, shelf: shelf, size: 'full' %}

  </div>
</div>

{% render "title_bar", trmnl: trmnl, rss: rss, user: user, shelf: shelf %}
